<launch>

    <arg name="debug" default="false" />

    <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera" required="true" ns="autonomous" unless="$(arg debug)">
        <param name="width" type="int" value="640" />
        <param name="height" type="int" value="480" />
        <param name="fps" type="int" value="30" />
        <param name="frame" type="string" value="webcam" />
        <param name="format" type="string" value="yuyv" />
        <param name="auto_focus" type="bool" value="False" />

	<param name="auto_exposure" type="int" value="1" />
	<param name="auto_white_balance" type="bool" value="1" />
        <!-- other supported params: auto_exposure, exposure_absolute, brightness, power_line_frequency -->

        <param name="device" type="string" value="/dev/video1" />
    </node>

</launch>
